<section class="d-flex p-auto p-4 bg presentation">
    <div class="cont-text mt-4">
        <h2 class="title">Hello, I'm <span class="name">Alvaro Jimenez</span></h2>
        <h2 class="title">and welcome to my website</h2>
        <p class="texto-pre">
           I am a java developer, I have more than 1 year of experience in developing robust and efficient applications using Java. I am skilled in creating scalable solutions, implementing best practices in coding, and collaborating effectively within teams. I have a solid understanding of object-oriented programming principles and have worked with various frameworks and libraries to deliver high-quality software products.
        </p>
        <button class="buton btn">Introduction <span> <img src="../../../assets/descarga.png" alt=""></span></button>
    </div>
    <div class="cont-img">
        <img src="./../../../assets/img2.png" class="img">
    </div>
</section>
